$blur: #9e9e9e;
$full-height: 100%;
$standardColor: #945b9f;
@mixin fullHW($width, $height) {
  width: $width;
  height: $height;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  text-transform: capitalize;
  font-family: "Roboto Mono", monospace;
  p {
    font: 20px;
  }
  .header {
    height: 70vh;
    display: grid;
    grid-template-rows: 25% 85%;
    .head {
      display: flex;
      flex-direction: column;
      img.logo {
        top: 47px;
        left: 37px;
        width: 151px;
        height: 33px;
      }
      ul {
        display: flex;
        letter-spacing: -0.09px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
        top: 15px;
      }
    }
    .main_slider {
      .carousel {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        .carousel-inner,
        .carousel-item {
          height: 100%;
        }
        .carousel-caption {
          height: 100%;
          top: 0;
          margin: auto auto;
          h5 {
            opacity: 75%;
            letter-spacing: 0.1em;
            font-weight: lighter;
          }
          p {
            letter-spacing: 0.08em;
            font-weight: lighter;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .subscriptions {
  
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    .classic {
      background: url("../Assets/Assets\ Mobile/Group 156.png");
    }
    .standard {
      background: url("../Assets/Assets Mobile/Group 155.png");
      button {
        background-color: $standardColor;
      }
    }
    .premium {
      background: url("../Assets/Assets\ Mobile/Group 154.png");
    }
  }
  .about_us {
    flex-direction: column;
    align-items: center;
    p {
      font-size: 20px;
    }
    .tile {
      height: 35vh;
      img {
        z-index: -2;
        width: 100%;
        height: 100%;
      }
      .blurred {
        position: relative;
        top: -20%;
        padding: 1em;
        background-color: #13191a;
        opacity: 0.68;
      }
    }
  }
  .our_classes {
  }
  .meet_our_team {
    h2 {
      font-size: 45px;
    }
    .team_carousel {
      display: none;
      .controls {
        position: relative;
        bottom: -15em;
        height: 20%;
        #t_c_nextbtn,
        #t_c_prevbtn {
          position: relative;
          height: 100%;
          width: 3%;
          right: 0;
        }
        #t_c_nextbtn {
          float: right;
          clear: both;
        }
      }
      .slick-slide {
        margin: 10px;
      }
      .slick-slide img {
        @include fullHW(100%, 80%);
      }
      .slick-prev,
      .slick-next {
        bottom: -1%;
        z-index: 10;
        color: black;
      }
      .slick-next {
        right: 0;
      }
      .slick-prev {
        left: 0;
      }

      .slick-prev:hover,
      .slick-next:hover {
        opacity: 0.5;
      }
      .slick-prev:before,
      .slick-next:before {
        color: red;
      }
    }
  }
  .footer {
    .foot {
      ul {
        justify-content: flex-start;
      }
    }
  }
}
@media screen and (min-width: 390px) {
  body {
    .header {
      grid-template-rows: 10% 90%;
      .head {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        ul {
          flex-basis: 50%;
          top: -0.5px;
          font-size: 20px;
        }
      }
      .main_slider {
        .carousel-caption {
          h5 {
            font-size: 30px;
          }
          p {
            font: 60px "Open Sans";
          }
          button {
            padding: 20px 40px;
          }
        }
      }
    }
    .subscriptions {
      div {
        height: 25vh;
        max-width: 30%;
        margin: 0.5em;
        font-size: 16px;
      }
    }
    .about_us {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .our_classes {
      .head {
        font-size: 1.9rem;
      }
      .foot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .meet_our_team {
      .team_carousel {
        display: block;
      }
    }
    .footer {
      .foot {
        ul {
          justify-content: flex-end;
        }
      }
    }
  }
}
